<!DOCTYPE html>
  
<html>
  <body>
    <h1>
      Simulating a Two-factor CFA
    </h1>
    <p>
      Muthen, L. K., and Muthen, B. O. (2002). How to use a monte carlo study to decide on sample size and determine power. Structural Equation Modeling, 9, 599-620.
    </p>
    
    <!--begin.rcode
    library(ggplot2)
    dat <- read.csv("data/data/twoFacCfa_data.csv")
    ggplot(dat[which(dat$par == "F1~~F2"),], aes(x = N, y = power)) +
      geom_line() +
      geom_hline(yintercept = .8, linetype = 2) +
      theme_bw()
    end.rcode-->
    
  </body>
</html>